.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

.filters > div {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.range-filter {
  width: 250px;
  appearance: none;
  background: #f0f0f0; 
  height: 5px;
  border-radius: 5px;
}
